.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(114,112,112, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(114, 112, 112) !important;
}
li>a{
    position: relative;
    width: fit-content;
} 
li>a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 30px;
    right: 0;
    background-color: rgb(114, 112, 112);
    transform: scaleX(0);
    transition: transform ease-in-out 0.3s;
    transform-origin: bottom right;
}
li>a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
div>h1{
    font-family: "Gilroy", sans-serif;
    font-weight: 500 !important;
}
div>p{
    font-family: "Gilroy", sans-serif;
    font-weight: 500 !important;
}
div>p:nth-of-type(2){
    font-family: "Gilroy", sans-serif;
    font-weight: 400 !important;
    font-size: 15px;
}
.center_list, .bottom_list{
    font-family: "Gilroy", sans-serif;
    font-weight: 400 !important;
    padding-inline-start: 0;
}
.toggle-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    font-family: "Gilroy", sans-serif;
    font-weight: 400 !important;
}
.toggle-button .arrow-down {
    margin-left: 10px;
    transition: transform 0.3s;
}
.toggle-button.collapsed .arrow-down {
    transform: rotate(0deg);
}
.toggle-button:not(.collapsed) .arrow-down {
    transform: rotate(180deg);
}
.collapse {
    display: none;
    transition: height 0.3s ease;
}
.collapse.show {
    display: block;
}
.arrow-down {
    margin-left: 5px;
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}
div.card{
    border:none;
    font-family: "Gilroy",sans-serif;
    font-weight: 400 !important;
}
.bottom_list{
    font-size: 1.2em;
    transform: scale(1);
    transform:rotate(0);
}
.bottom_list>li{
    list-style: none;
}
.bottom_list>li:nth-of-type(1):hover{
    transition: transform ease-in-out 0.3s;
    transform: scale(1.5);
    transform:rotate(2deg);
    z-index: 10;
}
.bottom_list>li:nth-of-type(2):hover{
    transition: transform ease-in-out 0.3s;
    transition-duration: 0.2s;
    transform: scale(1.5);
    transform:rotate(2deg);
    z-index: 10;
}
span{
    font-size: 1.1em;
}

