.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(0, 0, 0) !important;
}
li>a{
    position: relative;
    width: fit-content;
} 
li>a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 30px;
    right: 0;
    background-color: rgb(114, 112, 112);
    transform: scaleX(0);
    transition: transform ease-in-out 0.3s;
    transform-origin: bottom right;
}
li>a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
div>h1{
    font-family: "Clash Display", sans-serif;
}
div>p{
    font-family: "Gilroy", sans-serifs;
    font-weight: 400 !important;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.images>svg{
    height: auto;
}
.images>svg:first-of-type{
    max-width:75%;
    max-height: 10%;
}
.images>svg:nth-of-type(2){
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    max-height: 82%;
}
.images2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.images2>svg{
    width: fit-content;
    height: auto;
}
div>button{
    font-family: "Gilroy", sans-serif;
    font-weight: 400 !important;
}
div>.text-uppercase{
    width: 318.8px;
    height: 60px;
}
div>h1.text-start{
    font-family: "Gilroy", sans-serif;
    font-weight: 500 !important;
}
div>h1.text-center{
    font-family: "Gilroy", sans-serif;
    font-weight: 400 !important;
}
div>.text-center{
    width: fit-content;
    height: fit-content;
    margin-bottom: 8px;
}
.bottom_list>li{
    text-align: start;
    padding-top: 10px;
    font-family: "Gilroy", sans-serif;
    font-weight: 400 !important;
    font-size: 14px;
}
